

/*经典书籍详情start*/
.hc_bookxqbody{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 50px;
}
.hc_bookxqbody .hcb_left{
	width: 30%;
	border: 1px solid #c9c9c9;
	padding: 10px 3%;
	display: inline-block;
}
.hc_bookxqbody .hcb_left>h3{
	font-size: 20px;
	font-weight: bold;
}
.hc_bookxqbody .hcb_left>div{
	width: 100%;
	max-width: 280px;
	padding: 15px 0;
	border-bottom: 1px solid #C9C9C9;
}
.hc_bookxqbody .hcb_left>div:last-child{
	border-bottom: 0;
}
.booklist{
	width: 100%;
	border: 1px solid #C9C9C9;
}
.booklist img{
	display: block;
	margin: 20px auto;
}
.booklist div{
	padding: 20px 0;
	text-align: center;
	background: #eceaec;
	font-size: 16px;
}
.hc_bookxqbody .hcb_right{
	padding-top: 64px;
	width: 100%;
	display: inline-block;
}
.hc_bookxqbody .hcb_right>div{
	width: 95%;
	max-width: 695px;
	margin: 0 auto;
}
.hc_bookxqbody .hcb_right>div img{
	width: 100%;
}
.hc_bookxqbody .hcb_right .booktitle{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.hc_bookxqbody .hcb_right img{
	margin: 10px 0;
}
.hc_bookxqbody .hcb_right .biaoti{font-size: 18px;}
.hc_bookxqbody .hcb_right .neirong{line-height: 2em !important;}
.stybtn div img{
	max-width: 120px;
}
.stybtn input[type="button"]{
	border-style: none;
	margin-top: 20px;
	padding: 8px 50px;
	margin-right: 15px;
}
/*经典书籍end*/

/*hclist2   3 start*/

.hclist_tip_top{
	font-size: 20px;
	font-weight: bold;
	padding-bottom:6px;
	border-bottom: 1px solid #E30004;
}	
.hclist_tip_top img{
	width: 16px !important;
}	
.hclist_tip_top span{
	font-size: 16px;
	padding-left: 10px;
}
.hcb_right .hclist_rightbody{
	padding: 0 10px;
}
.videolist {
	margin-top: 20px;
}
.videolist .col-md-4>div{
	max-width: 260px;
	position: relative;	
}
.videolist .col-md-4 div a img{
	max-width: 60px !important;
}
.videolist .col-md-4>div>a>p{
	font-size: 20px;
	padding: 10px 0;
	text-align: center;
}
.videolist .col-md-4>div>a>img{
	max-height: 280px;
	max-width: 260px;
	width: 100%;
}
.videolist .col-md-4>div>a>div{
	position: absolute;
	top: 32%;
	left: 38.2%;
	width: 60px;
	height: 60px;/**/
	text-align: center;
	line-height: 60px;
	border-radius: 35px;
	border: 1px solid rgba(255,255,255,0.5);
}
.videolist .col-md-4>div>a>div i{
	font-size: 25px;
	color: rgba(255,255,255,0.5);
}
.hclist_rightbody .hclist2_content{
	width: 100%;
	border: 1px solid #c9c9c9;
	padding: 0 7%;
	margin-top: 20px;
}
.hclist_rightbody .hclist2_content p{
	line-height: 2em;
}
.hclist_rightbody .hclist2_content h3{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.hclist_rightbody .hclist2_content img{
	display: block;
	margin: 25px auto;
	
}
/*hclist2 3  acronym end*/

/*hclist4 5 start*/
.hc_bookxqbody .hcb_right>.hclist_rightbody4{
	width: 100%;
	max-width: 813px;
	margin: 0 auto;
	
	border: 1px solid #C9C9C9;
	padding: 20px 10px;
}
.hc_bookxqbody .hcb_right>.hclist_rightbody4 h3{
	text-align: center;
	font-weight: bold;
}
.hclist_rightbody4 .list_yuan{
	margin: 10px auto;
	width: 100%;
	padding: 0 0px;
}
.hclist_rightbody4 .list_yuan .col-md-2>div{
	width: 80px;
}
.hclist_rightbody4 .list_yuan .col-md-2>div>div{
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 40px;
	background: #d0d0d0;
}
.hclist_rightbody .list_yuan .col-md-2>div>p{
	text-align: center;
}
.hclist_rightbody .list_yuan .col-md-10{
	padding: 15px 0 0;
	font-size: 16px;
}
/*hclist4 5end*/


/*积分商品详情页面 start*/
.jfhgbody,.goodxq{
	width: 100%;
}
.goodxq{
	max-width: 1200px;
	margin: 5px auto 10px;
	width: 95%;
}
.goodxq .gxq-top{
	border: 1px solid #c9c9c9;
	margin: 0;
}
.goodxq .gxq-top>.col-xs-4 img{
	/*max-height: 329px;
	height: 100%;*/
	/*width: 95%;*/
	max-width: 90px;
	max-height: 90px;
}
.goodxq .gxq-top .col-xs-4,.goodxq .gxq-top .col-xs-8{
	
	padding: 20px 0;
}
.goodxq .gxq-top>.col-xs-4{text-align: center;}
.goodxq .gxq-top .col-xs-8{
	padding-left:5px;		
	padding-right:5px;		
	padding-bottom: 0;
	padding-top: 3px;
}
.goodxq .gxq-top .col-xs-8>div{
	width: 100%;
	border-bottom: 1px dashed  #dadada;
}
.goodxq .gxq-top .col-xs-8>div:last-child{
	border-bottom: 0;
}
.goodxq .gxq-top .col-xs-8>div h3{
	font-size: 15px;
	margin: 0;
}
.goodxq .gxq-top .col-xs-8>div>.linethrough{
	padding-top: 5px;
	font-size: 12px;
	/*padding: 10px 0;*/
}/**/
.goodxq .gxq-top .col-xs-8>.container-fluid>.row>div{
	padding-top: 10px;
	padding-bottom: 15px;
}
.goodxq .gxq-top .col-xs-8>.texticon{
	margin-top: 17px;
}
.goodxq .gxq-top .col-xs-12{
	padding-bottom: 0 !important;
}
.goodxq .gxq-top .col-xs-12 .redbtn{
	margin: 0;
	padding:3px 8px;
	font-size: 13px !important;
	float: right;
}
.goodxq .gxq-top  .gradecountred span span,.goodxq .gxq-top  .gradecountred span {font-size: 18px;}
.goodxq .gxq-top .col-xs-8>.texticon>.row{margin: 0;}
.goodxq .gxq-top .col-xs-8>.texticon>.row>.col-xs-4,.goodxq .gxq-top .col-xs-8>.texticon>.row>.col-xs-4>i{			
	color: #E30004;		
	font-size: 20px;	
}
.goodxq .gxq-top .col-xs-8>.texticon>.row>.col-xs-4>i{
	font-size: 28px;
	padding-right: 5px;
}
.goodxq .gxq-top .col-xs-8>div p{
	margin: 0;
	padding: 1px;
}


.goodxq .gxq-content{
	margin: 20px 0 50px 0;
	/*margin-top: 20px;*/	    
}
.goodxq .gxq-content>.col-md-3,.goodxq .gxq-content>.col-md-9{
	padding: 0;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border{
	border: 1px solid #c9c9c9;
	width: 93%;
	padding: 13px;
	box-sizing: border-box;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border>h4{font-weight: bold;padding-bottom: 10px;}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul{
	width: 100%;
	padding: 0;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model{
	padding: 10px 0;
	border-bottom: 1px solid #e8e8e8;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model:last-child{
	border-bottom: 0;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model .boxshaow{
	width: 100%;
	padding: 22px 22px 10px;
	box-shadow: 0 0 8px #cecece;
	border-radius: 2px;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model .boxshaow p{
	margin-top: 10px;
	margin-bottom: 0;
	text-align: left;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model .boxshaow .gradecountred{
	margin-top: 0;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model .boxshaow .bxs-img{
	border: 1px solid #c9c9c9;
	text-align: center;
	padding: 18px;
}
.goodxq .gxq-content>.col-md-3>.gxqc-border ul .border-model .boxshaow .bxs-img img{
	max-width: 180px;
	width: 100%;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border{
	border: 1px solid #c9c9c9;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border>.gxqc9-top{
	border: 1px solid #c9c9c9;
	height: 35px;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border>.gxqc9-top ul{
	height: 35px;
	overflow: hidden;
	padding-left: 0;
	width: 1005;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border>.gxqc9-top ul li{
	float: left;
	/*width:160px;*/
	width: 50%;
	/*height: 60px;*/
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: #e9e9e9;
	border: 1px solid #c5c5cd;
	cursor: pointer;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border>.gxqc9-top ul li>span{
	padding: 0 10px;
}
.gxqc9-topli{
	border: 0 !important;
	border-top: 2px solid #E30004 !important;
	background: #fff !important;
	border-right: 1px solid #c5c5cd !important;
}
.gxqc9-topli span{
	color: #E30004 !important;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img{
	padding: 0 30px;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img p{
	padding-top: 8px;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img>img,.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img>a>img{
	margin: 10px 0;
	max-width: 832px;
	width: 100%;
}
.gxqc9-img2{
	padding: 0 !important;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img p a{
	color: #E30004;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top{
	padding: 22px 22px 5px;
	border-bottom: 1px solid #c9c9c9;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops,.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-topx{
	width: 100%;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsz,.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy{
	display: inline-block;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsz{
	width: 40%;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy{
	width: 58%;
	padding-left: 10%;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy ul{
	width: 280px;
	display: block !important;
	padding-left: 0;
	/*margin: 0 auto;*/
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy .tiao{
	float: right;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy .tiao .qs{
	height: 15px;
	background: -moz-linear-gradient(left, #ffffd2 20%, #fbaa00 80%);
    background: -webkit-linear-gradient(left, #ffffd2 20%,#fbaa00 80%);
    background: -o-linear-gradient(left, #ffffd2 20%,#fbaa00 80%);
    background: -ms-linear-gradient(left, #ffffd2 20%,#fbaa00 80%);
    background: linear-gradient(to right, #ffffd2 20%,#fbaa00 80%);
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy .tiao .qs li{
	float: left;
	width: 20%;
	height:15px;
	font-size: 12px;
	line-height: 1.3em;
	text-align: right;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy .taioky{
	margin-left: 28px;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsy .taioky li{
	width: 20%;
	float: left;
	font-size: 12px;
	color: #6c6c6c;
	text-align: center;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsz p{
	width: 100px;
	text-align: center;
	margin-bottom: 0;
}
.goodxq .gxq-content>.col-md-9>.gxqc9-border .gxqc9-img .gxqc9-img-top .gxqc9-img-tops .gxqc9-img-topsz p span{font-size: 20px;}
.xingxing{
	padding-left: 0;
}
.xingxing li{
	float: left;
	padding: 2px;
	color: #aaa9a9;			
}
.addfbaa00{
	color:#fbaa00 !important;
}
.gxqc9-img-topx  input{
	margin: 5px;
	width: 15px;
	height: 15px;
}
.gxqc9-img-topx  select{
	float: right;
	border: 1px solid #c9c9c9;
	background: #e2e3e5;
	padding: 1px 5px;
}
.gxqc9-img-bottom{
	padding: 15px;
}
.gxqc9-img-bottom .row{
	margin: 10px auto;
	border-bottom: 1px dashed #e3e3e3;
}
.gxqc9-img-bottom .row .col-md-1{
	height: 40px;
	line-height: 40px;
}
.gxqc9-img-bottom .row .col-md-1 .commentheadimg{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	float: left;
}
.gxqc9-img-bottom .row .col-md-1 .commentheadimg img{
	width: 40px;
}
.gxqc9-img-bottom .row .col-md-1 span{
	line-height: 40px;
	display: inline-block;
	padding-left: 5px;
}
.gxqc9-img-bottom .row .col-md-10{padding: 0;}
.gxqc9-img-bottom .row .col-md-10 table{
	font-size: 13px;
}
.gxqc9-img-bottom .row .col-md-10 table td{ line-height: 2em;}
.gxqc9-img-bottom .row .col-md-10 table td:first-child{
	min-width: 70px !important;
}
.gxqc9-img-bottom .row .col-md-10>h4{font-weight: bold;}
.gxqc9-img-bottom .row .col-md-10 img{
	max-width: 70px;
	margin-top: 10px;
	margin-right: 15px;
}
/*积分商品详情页 end*/

/*往生服务 start*/
.wangshengbanner{
	width: 100%;
	margin: 0 auto;
}
.wangsheng-lunbo a{
	margin: 10px 15px;
	padding: 0 !important;
	max-width: 292px;
	border: 0 !important;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.wangsheng-lunbo a:hover{
	box-shadow: 0 0 8px rgba(227,0,4,0.3);
}
.wangsheng-lunbo a img{
	max-width: 246px !important;
	margin-bottom: 5px;
}
.wangsheng-lunbo a .ws_a_div{
	padding: 10px;
	text-align: left;
	font-size: 17px;
}
.wangsheng-lunbo a .ws_a_div>span:nth-child(2){
	float: right;
	color: #E30004;
}
.lycontent{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
.lycontent>div{
	padding: 0;
}
.lycontent>div:first-child{
	width: 28%;			
}
.lycontent>div:nth-child(2){
	width: 72%;
	padding: 15px 20px;
	font-size: 15px;
}/**/
.lycontent .lyleft{
	max-width: 292px;
	padding: 13px 20px;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	display: inline-block;
}
.lycontent .lyleft img{
	margin: 10px auto;
	max-width: 246px;
}
.lycontent .lyleft .ws_a_div{
	max-width: 246px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.lycontent .lyright{
	padding-left: 0;
}
.lycontent .lyright li{
	text-align: left;
	padding: 10px 18px 10px 15px;
	border-bottom: 1px dashed #C0C0C0;
}
.lycontent .lyright li a:hover{
	color: #E30004;
}
.lycontent .lyright li a i{
	color: #c9c9c9;
	font-size: 18px;
}
/*往生服务  end*/

/*往生服务 -墓地展示 start*/
.wangsheng-md-body{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.wangsheng-md-btop{
	width: 100%; 
	margin: 0 auto;
	padding: 20px;
}
.wangsheng-md-btop .wangsheng-md-btopl{
	padding: 0;
}
.wangsheng-md-btop .wangsheng-md-btopl img{
	width: 100%;
	height: 100%;
	max-width: 430px;
	max-height: 360px;
}
.wangsheng-md-btop .wangsheng-md-btopr h3{
	font-size: 20px;
	font-weight: bold;
}
.wangsheng-md-btop .wangsheng-md-btopr .wangsheng-md-btopr-3x{
	width: 100%;
	margin: 0 auto;
}
.wangsheng-md-btop .wangsheng-md-btopr  span{
	font-weight: bold;
}
.wangsheng-md-btop .wangsheng-md-btopr .texthang6{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}
.wangsheng-md-btop .wangsheng-md-btopr .wangsheng-md-btopr-3x .wangsheng-md-btopr-x{
	padding-left: 0;
}
.wangsheng-md-btop .wangsheng-md-btopr .wangsheng-md-btopr-3x .wangsheng-md-btopr-x li{
	display: inline-block;			
}
.wangsheng-md-btop .wangsheng-md-btopr .wangsheng-md-btopr-3x .wangsheng-md-btopr-x li i{
	color: #fbaa00;
}
.wangsheng-md-btop .wangsheng-md-btopr .wangsheng-md-btopr-yuyue span{
	font-size: 20px;
	padding-right: 20px;
}
.wangsheng-md-bbottom{
	width: 100%;
	margin: 30px auto;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-t{
	border-bottom: 0;
}
.wangsheng-md-bbottom .col-md-3{
}
.wangsheng-md-bbottom-model{
	padding: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.wangsheng-md-bbottom-model img{
	width: 100%;
	height: 100%;
	max-width: 250px;
	max-height: 180px;
}
.wangsheng-md-bbottom-model p{
	font-size: 16px;
	padding: 8px 0 2px;
}
.wangsheng-md-bbottom-model>div{
}
.wangsheng-md-bbottom-model>div>span{float: left !important;line-height: 2em;}
.wangsheng-md-bbottom-model>div>a{
	float: right;
	display: inline-block;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r{
	margin-left: 1.5%;			
}		
.wangsheng-md-bbottom .wangsheng-md-bbottom-rt{
	width: 191px;
	height: 35px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 15px;
	color: #fff;
	margin-top: 16px;
	background: url(../../images/img/wangshengfuwu/lingyuanback.gif) no-repeat center;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb{
	padding: 20px !important;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb h3{
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	padding: 5px 0 15px;
	margin: 0 !important;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb .wangshenglist{
	margin-bottom: 10px;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb .wangshenglist img{
	width: 100%;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb .wangshenglist p{
	padding: 10px 0;
}
.wangsheng-md-bbottom .wangsheng-md-bbottom-r .wangsheng-md-bbottom-rb .wangshenglist p span{
	font-weight: bold;
}
/*往生服务  - 墓地展示  end*/

/*往生服务 -陵园动态 start*/
.ws-ly-dtbody{
	margin-bottom: 50px;
}
.ws-ly-dtbody .ws-ly-dtbody-row{
	width: 100%;
	margin: 0 auto;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b{
	border: 1px solid #c9c9c9;
	padding-bottom: 10px;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul{
	padding-left: 0;
	margin: 0;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li{
	padding: 15px;
	border-bottom: 1px dashed #c9c9c9;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a{
	display: block;
	text-align: left;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a:hover,.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a:hover i,.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a:hover span{
	color: #E30004 !important;
}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a i{color: #c9c9c9;}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-b ul li a span{color: #747474;}
.ws-ly-dtbody .ws-ly-dtbody-left .ws-ly-dtbody-left-bt{
	color: #fff;
	padding-left:10px;
	background: -moz-linear-gradient(top, #fd4444 0%, #e30004 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd4444), color-stop(100%,#e30004));
    background: -webkit-linear-gradient(top, #fd4444 0%,#e30004 100%);
    background: -o-linear-gradient(top, #fd4444 0%,#e30004 100%);
    background: -ms-linear-gradient(top, #fd4444 0%,#e30004 100%);
    background: linear-gradient(to bottom, #fd4444 0%,#e30004 100%);
}
.ws-ly-dtbody .ws-ly-dtbody-right{
	padding-left: 1%;
}
.ws-ly-dtbody .ws-ly-dtbody-right .ws-ly-dtbody-rcontent{
	border: 1px solid #C9C9C9;
	padding: 13px;
}
.ws-ly-dtbody .ws-ly-dtbody-right .ws-ly-dtbody-rcontent h3{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 15px;
}
.ws-ly-dtbody .ws-ly-dtbody-right .ws-ly-dtbody-rcontent p{
	font-size: 14px;
	line-height: 1.5em;
}
/*往生服务 - 陵园动态 end*/

/*养老平台  start*/
.yanglao-lunbo {			
	padding-left: 0;
	width: 100%;
	margin: 20px auto;
	min-height: 313px;
}
.yanglao-lunbo a{
	padding: 23px;
	margin: 10px 15px;
	border: 0 !important;
	
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.yanglao-lunbo a:hover{
	box-shadow: 0 0 8px rgba(227,0,4,0.3);
}
.yanglao-lunbo a img{
	max-height: 177px;
}
.yanglao-lunbo .yanglao_adiv{
	text-align: left;
	font-size: 18px;
}
.yanglaoptcontent-2{
	width: 100%;
	margin: 0 auto;
	padding: 0 !important;
}
.yanglaoptcontent-2>div{
	padding: 0 !important;
}
.yanglaoptcontent-2 .yanglaoptcontent-2left{
	width: 92%;
	float: left;
}
.yanglaoptcontent-2 .yanglaoptcontent-2right{
	width: 92%;
	float: right;
}
.yanglaoptcontent-2 .yanglaoptcontent-2t{
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px dashed #C9C9C9;
	padding: 15px 0;
	margin-bottom: 15px;
}
.yanglaoptcontent-2 .yanglaoptcontent-2t .col-md-3{padding: 0;}
.yanglaoptcontent-2 .yanglaoptcontent-2t .col-md-3 img{
	width: 100%;
	height: 100%;
	max-width: 111px;
	max-height: 120px;
}
.yanglaoptcontent-2 .yanglaoptcontent-2t .col-md-9 p{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 1.8em;
}
.yanglaoptcontent-2 .yanglaoptcontent-2t .col-md-9 a span{
	color: #E30004;
}
.yanglaoli-list{
	padding-left: 0;
}
.yanglaoli-list li{
	text-align: left;
	padding: 5px 0;
}
.yanglaoli-list li a:hover{
	color: #E30004;
}
.yanglaoli-list li i{
	color: #C9C9C9;
}
/*养老平台 end*/

/*养老文章详情 start*/
.yl-lsitbody{
	margin-bottom: 50px;
}
.yl-lsitbody-content{
	width: 100%;
	margin: 0 auto;
}
.yl-lsitbody-content>div{
	padding: 0;
}
.yl-lsitbody-content .yl-lsitbody-cl{
	padding: 10px;
	width: 92%;
	box-shadow: 0 0 6px #C9C9C9;
}
.yl-lsitbody-content .yl-lsitbody-cl h3{
	font-size: 20px;
	padding:0 0 0 40px;
	font-weight: bold;
}
.yl-lsitbody-content .yl-lsitbody-cl img{
	margin: 0 auto;
	display: block;
}
.dottedulli{
	padding-left: 0;
}
.dottedulli li{
	text-align: center;
	padding: 10px;
}
.dottedulli li a:hover{
	color: #E30004;
}
.yl-lsitbody-r{
	padding: 20px 40px;
	border: 1px solid #C9C9C9;
}
.yl-lsitbody-r h3{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}
.yl-lsitbody-r img{
	display: block;
	margin: 10px auto;
}
.yl-lsitbody-r p{
	line-height: 1.8em;
	font-size: 16px;
}
.yl-lsitbody-r .yl-lsitbody-rarticle-last,.yl-lsitbody-r .yl-lsitbody-rarticle-next{
	padding: 6px 0;
}
.yl-lsitbody-r .yl-lsitbody-rarticle-last a:hover,.yl-lsitbody-r .yl-lsitbody-rarticle-next a:hover{
	color: #E30004;
}
/*养老文章详情 end*/



/*以下修改 */
.gxqc9-img-bottom .row .col-md-1>div{
	width: 80px;
	height: 80px;
	border-radius: 40px;
	overflow: hidden;
}
.gxqc9-img-bottom .row .col-md-1>div>img{
	width: 100%;
}
/*.home_cluture .cilture_book{
	height: 313px;
}*/


/*手机端新增 start*/
@media (max-width:768px) {
	.navbar .navbar-header .navbar-brand{
		width: 120px;
	}
	.navbar .navbar-header .navbar-brand  img{
		width: 100%;
	}
	.navbar .navbar-collapse{
		float: left;
	}
	.navbar .navbar-collapse ul li a{
		padding: 10px 5px;
	}
}
/*手机端新增 end*/