<include file="Public/min-header"/>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">

                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加修改音乐</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_tongyong" data-toggle="tab">背景音乐</a></li>
                    </ul>
                    <!--表单数据-->
                    <form method="post" id="addEditNavForm" onsubmit="return checkName();">
                        <!--通用信息-->
                    <div class="tab-content">                 	  
                        <div class="tab-pane active" id="tab_tongyong">
                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>音乐名称:</td>
                                    <td>
                                        <input type="text" value="{$navigation.name}" name="name" class="form-control" style="width:300px;"/>
                                      <!--  <span id="err_name" style="color:#F00; display:none;">路径不能为空!!</span>-->
                                    </td>
                                </tr>                                
                                <tr>
                                    <td>音乐路径:</td>
                                    <td>
                                        <input type="button" value="上传音乐"  onclick="GetUploadify(1,'','music','call_back');"/>
                                        <input type="text" class="input-sm"  name="src" id="original_img"  value="{$navigation.src}"/>
                                        <span id="err_src" style="color:#F00; display:none;">路径不能为空!!</span>
                                    </td>
                                </tr> 
   
                            <!--    <tr>
                                    <td>链接:</td>
                                    <td>
                                        <input type="text" value="{$navigation.url}" name="url" class="form-control" />
                                        <span id="err_url" style="color:#F00; display:none;"></span>
                                    </td>
                                </tr>-->
                                </tbody>                                
                                </table>
                        </div>                           
                    </div>              
                    <div class="pull-right">
                        <input type="hidden" name="id" value="{$navigation.id}">
                        <button class="btn btn-primary" title=""  data-toggle="tooltip" type="submit" data-original-title="保存">保存</button>
                    </div>
			    </form><!--表单数据-->
                </div>
            </div>
        </div>    <!-- /.content -->
    </section>
</div>
<script>
// 判断输入框是否为空
/*$(function(){
    $(".btn").click(function(){
        var a= checkName();
        alert(a);
        if(a){
            alert(a);
            //$("#addEditNavForm").submit();
        }
    })
})*/
function checkName(){
	var name = $("#addEditNavForm").find("input[name='src']").val();
    if($.trim(name) == '')
	{
        $("#err_src").show();
		return false;
	}else{
        $("#err_src").hide();
        return true;
    }

}
// 上传商品图片成功回调函数
function call_back(fileurl_tmp){
    $("#original_img").val(fileurl_tmp);
}
// 更改系统内容
/*$("#system_nav").change(function(){
	var text = $(this).find("option:selected").text();
	text = text.replace(/-/ig,""); 
	var val  = $(this).find("option:selected").val();	
	$("input[name='name']").val(text);
	$("input[name='url']").val(val);	
});*/
</script>

</body>
</html>