<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td style="width: 1px;" class="text-center">
                <!--
                    <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                -->    
                </td>                
                <td class="text-left">
                    <a href="javascript:sort('news_id');">ID</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('title');">标题</a>
                </td>
                <td class="text-left">
                    <a href="javascript:sort('address');">发表时间</a>
                </td>
                <td class="text-center">
                    <a href="javascript:sort('is_recommend');">推荐</a>
                </td>
             <!--    <td class="text-center">
                                 <a href="javascript:sort('sort');">排序</a>
                             </td>    -->                
                <td class="text-right">操作</td>
            </tr>
            </thead>
            <tbody>
            <volist name="newsList" id="list">
                <tr>
                    <td class="text-left">
                       <!-- <input type="checkbox" name="selected[]" value="6">-->
                        <input type="hidden" name="shipping_code[]" value="flat.flat">
                    </td>
                    <td class="text-left">{$list.news_id}</td>
                    <td class="text-left">{$list.title|getSubstr=0,33}</td>
                    <td class="text-left">{$list.addtime|date='Y-m-d H:i:s',###}</td>
                    <td class="text-center">
                        <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_recommend] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('mudi','id','{$list.id}','is_recommend',this)"/>
                    </td>
                   <!--  <td class="text-center">                         
                                           <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="updateSort('mudi','id','{$list.id}','sort',this)" size="4" value="{$list.sort}" />
                                       </td> -->                    
                    <td class="text-right">
                        <a  target="_blank" href="{:U('Home/Mudi/mudiDetail/cid/1',array('id'=>$list['news_id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a>
                        <a href="{:U('Admin/Mudi/addEditNews',array('id'=>$list['news_id']))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                        <a href="javascript:void(0);" onclick="del('{$list[news_id]}')" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</form>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>
<script>
    // 点击分页触发的事件
    $(".pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajax_get_table('search-form2',cur_page);
    });
</script>